* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    list-style: none;

}

/*------------------header------------------*/
.bg{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/f.jpg);
    background-position: center;
    background-size: cover;
}

/*------------------Nav bar------------------*/
header {
    background-color: #00060a;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logonav {
    display: flex;
    align-items: center;
}
.logo{
    transition: 0.05s;
}
.logo a h4 {
    font-size: 30px;
    padding: 12px 35px;
}
.logo a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) ;
}
.logo:hover{
    transform: scale(1.02);
}
header nav{
    display: flex;
}
nav ul li {
    float: left;
}
nav ul li a {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 22px 35px;
    display: block;
}
nav ul li a i{
    font-size: 15px;
    font-weight: 300;
}
nav ul li:hover a{
    background-color: white;
    color: #00060a;
}
nav ul li:hover i{
    background-color: white;
    color: #00060a;
}
header nav ul {
    display: flex;
}
header .bars {
    display: flex;
    align-items: center;
} 
header .bar {
    cursor: pointer;
    display: none;
}
header .bar div{
    width: 30px;
    height: 2px;
    margin: 6px 15px;
    background: #fff;
}


/*------------------s1------------------*/
.s1{
    margin: 150px auto;
    width: 80%;
    text-align: center;
}
.s1 h1{
    font-size: 70px;
    margin: auto;
    text-shadow: 0 0 20px black;
}
.s1 span{
    font-weight: 300;
}
.s1 h4{
    font-size: 30px;
    letter-spacing: 2.5px;
    text-shadow: 0 0 20px black;
}
.s1 p{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}
.btn{
    display: inline-block;
    font-size: 20px;
    background-color: #00060a;
    color: white;
    padding: 12px 40px;
    margin-top: 30px;
    box-shadow: 0 0 12px #2db0ca9e;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background-color: white;
    color: #00060a;
}


/*------------------s2------------------*/
.s2{
   width: 80%;
   text-align: center;
   margin: 50px auto;
}
.s2 h1{
    font-size: 60px;
    margin: auto;
    text-shadow: 0 0 20px black;
}
.s2 span{
    font-weight: 300;
}
.container{
   background-color: #00060a;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}
.col{
    box-sizing: border-box;
    padding: 0 10px;
}
.col1{
    flex: 40%;

}
.col2{
    flex: 55%;
}
.col img{
    width: 90%;
    max-width: 600px;
    border: 1px solid white;
    box-shadow: 0 0 20px black;
    margin: 10px;
}
.col h3{
    font-size: 44px;
    font-weight: 300;
    padding: 20px;
}
.col p{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
    padding: 20px 20px;
}
.col .btn {
    background-color: rgb(231, 242, 244);
    color: #00060a;
    box-shadow: 0 0 10px black;
    margin-top: 0px;
    margin-bottom: 20px;
}
.col .btn:hover {
    box-shadow: 0 0 10px white;
}


/*------------------s3------------------*/
.container3{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/f2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 2px solid white;

}
.s3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.s3 h1{
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 15px black;
    text-transform: uppercase;
    padding: 100px 30px 30px;
    margin: auto;
    font-weight: 400;
}
.s3 p{
    padding: 30px 15% 100px;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.8;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
}



/*------------------try------------------*/
.container6{
    background-color: #00060a;
    display: flex;
    flex-direction: column;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.try{
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    margin-top: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 35% 65%;
    grid-template-areas: 'box1 box2'
                         'box1 box2'
                         'box3 box2';
}
.try2{
    grid-template-columns: 65% 35%;
    grid-template-areas: 'box2 box1 '
                         'box2 box1'
                         'box2 box3';
}
.container6 h1{
    font-size: 60px;
    margin: auto;
    text-shadow: 0 0 20px black;
    padding: 50px 30px 30px;
    text-align: center;

}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;

}
.box3{
    grid-area: box3;

}
.box2 img{
    width: 90%;
    max-width: 600px;
    border: 1px solid white;
    box-shadow: 0 0 20px black;
    margin: 10px;
}
.box1 h3{
    font-size: 44px;
    font-weight: 300;
    padding: 20px 05px;
}

.box1 p{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
    padding: 20px 20px;
}
.box3 .btn {
    background-color: rgb(231, 242, 244);
    color: #00060a;
    box-shadow: 0 0 10px black;
    margin: 0px auto 20px;
}
.box3 .btn:hover {
    box-shadow: 0 0 10px white;
}




/*------------------form------------------*/
.container5{
    background-color: #00060a;
}
.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container5 h1{
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
}
.form input{
    background-color: #151e27;
    border: none;
    padding: 12px 50px 12px 20px;
    margin: 5px;
    font-size: 18px;
}
.form textarea{
    background-color: #151e27;
    border: none;
    padding:12px 50px 12px 20px;
    margin: 5px;
    font-size: 18px;
    width: 90%;
    height: 200px;
}
.form button{
    box-shadow: 0 0 10px black;
    border: none;
    color: #00060a;
    padding: 12px 30px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(231, 242, 244);
    margin: 15px auto 20px;
}
.form button:hover{
box-shadow: 0 0 10px white;
}


/*------------------footer------------------*/
.container4{
    background-color: #00060a;

}
.row2{
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 60px;
}
.col2 h4{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px;
}
.col2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.col2 ul li{
    padding: 5px;
    
}
.col2 a{
    opacity: 0.8;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.col2 a:hover{
    opacity: 1;
    border-bottom: white 1px solid;
}

.sm{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sm .fa-brands{
    font-size: 30px;
    padding: 15px;
    padding-bottom: 30px;
    transition: 0.2s;
}
.sm .fa-brands:hover{
    transform: scale(1.5);
}




/*------------------responsive------------------*/
@media only screen and (max-width:900px) {
    header .bar{
        display: block;
    }
    header nav{
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #00060a;
        transition: 0s;
    }
    header nav.active {
        top: 53px;
        border-bottom: 2px solid white;
    }
    nav ul li a {
        margin: 0;
        padding: 20px 100px 20px 30px;
    }
    header nav ul{
        display: block;
    }
    header nav ul li{
        width: 100%;
    }
    .s1 h1{
        font-size: 40px;
    }
    .s1 h4{
        font-size: 25px;
    }
    .s1 p{
        font-size: 20px;
    }
    .btn{
        font-size: 16px;
    }
    .s1{
        margin: 120px auto;
        width: 85%;
    }
    .logo a h4 {
        font-size: 23px;
        padding: 12px 20px;
    }
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .s2{
        width: 100%;
        text-align: center;
        margin: 50px auto;
     }
     .s2 h1{
         font-size: 40px;
         margin: auto;
     }
    .col h3{
        font-size: 30px;
        font-weight: 300;
        padding: 10px;
    }
    .col p{
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px 5px 0;
    }
    .col .btn {
        margin-top: 10px;
    }
    .s3 h1{
        font-size: 35px;
        padding: 100px 20px 20px;
    }
    .s3 p{
        padding: 20px 5px 70px;
        font-size: 18px;
        font-weight: 400;
        opacity: 0.8;
        letter-spacing: 1.2px;
        line-height: 25px;
    }
    .container6 h1{
        font-size: 40px;
        margin: auto;
        text-shadow: 0 0 20px black;
        padding: 30px 0px;
    }
    .try{
        width: 100%;
        text-align: center;
        grid-template-columns: auto;
        grid-template-areas: 'box1'
                             'box2'
                             'box3';
    }
    .box1 p{
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px;
    }
    .box2 img{
    width: 95%;
    }
    .box1 h3{
        font-size: 30px;
        padding: 15px;
    }

    .form{
        width: 95%;
        padding: 30px 20px;
    }
    .container5 h1{
        font-size: 30px;
    }
    .form input{
        padding: 12px 20px;
        margin: 5px;
        font-size: 15px;
    }
    .form textarea{
        padding: 12px 15px;
        margin: 5px;
        font-size: 15px;
        height: 150px;
    }
    .form button{
        padding: 12px 30px;
        margin: 5px;
        font-size: 16px;
        margin: 15px auto 20px;
    }
    .col2 h4{
        font-size: 20px;
    }
    .col2 a{
        font-size: 15px;
    }
    
.sm .fa-brands{
    font-size: 25px;
    padding: 10px;
    padding-bottom: 30px;
}
}

@media only screen and (max-width:1200px) and (min-width:900px) {
    .logo a h4 {
        font-size: 23px;
        padding: 12px 30px;
    }
    nav ul li a {
        font-size: 14px;
        right: 0;
    }
    .s1 h1{
        font-size: 60px;
    }
    .s1 h4{
        font-size: 25px;
    }
    .s1 p{
        font-size: 20px;
    }
    .btn{
        font-size: 17px;
    }
    .s2{
        width: 90%;
        text-align: center;
        margin: 50px auto;
     }
     .s2 h1{
         font-size: 45px;
         margin: auto;
     }
    .col h3{
        font-size: 32px;
        font-weight: 300;
        padding: 10px;
    }
    .col p{
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px 5px 0;
    }
    .s3 h1{
        font-size: 50px;
        padding: 80px 20px 20px;
    }
    .s3 p{
        padding: 20px 15% 80px;
        font-size: 20px;
        font-weight: 400;
        opacity: 0.8;
        letter-spacing: 1.5px;
        line-height: 38px;
    }
    .try{
        width: 90%;
    }
    .box1 p{
        font-size: 20px;
        letter-spacing: 2px;
        padding: 10px;
    }

    .box1 h3{
        font-size: 35px;
        padding: 15px;
    }

}